<div>
  <h1>
    Send Message

  </h1>
  <mat-form-field>
    <input matInput placeholder="Message" type="text" #input>
  </mat-form-field>
  <mat-form-field>

    <input matInput placeholder="Topic" type="text" value="my/topic" #topic>
  </mat-form-field>
  <button mat-raised-button (click)="unsafePublish(topic.value, input.value)">Message!</button>
</div>
<div>
  <h2>Subscribe to topic</h2>
  <mat-form-field>
    <input matInput placeholder="Topic" type="text" #subscribeTopic>
  </mat-form-field>
  <button mat-raised-button (click)="addTopic(subscribeTopic.value)">Observe Topic</button>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let topic of topics">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{topic}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-subscription [topic]="topic"></app-subscription>
  </mat-expansion-panel>
</mat-accordion>

<router-outlet></router-outlet>